{% extends 'partials/base.html' %}
{% block title %}Home{% endblock %}
{% block content  %}


<style>
    #button_b {
  border-color: yellow;
}
</style>
<br>
<div id="button_m" style="display: flex; justify-content: center;"> </div>
<div id="button_b" style="display: flex; justify-content: center;"> </div>
<br>
<div class="container">
    <div class="row mt-4">
        <div class="col-md-8 offset-md-2">
            <div class="card shadow">
                <div class="card-body">
                    <form method="POST">
                        {% csrf_token %}
                        {{ form }}
                        <input class="btn btn-info" type="submit" value="Make Prediction">
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}